@import "@/assets/style.scss";

/************************************************************/
$text-size: 15px;
$break-width: 0.5px;
$break-point-size: 5px;
$skills-height: 40px;

.resume-editor-link {
  @include link-style();
  display: inline-block;
  margin-top: 10px;
}

@mixin list-block-style() {
  padding: 10px;
  @include text();
  /* background: var(--element-background); */
  border: 1px solid var(--border-color);
  line-height: 100%;
  border-radius: 5px;
  cursor: default;
}

@mixin timeline() {
  .timeline-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    margin-left: 10px;

    $pointer-width: 10px;
    $pointer-margin: 4px;

    &::before {
      content: "";
      height: 100%;
      width: 0.5px;
      background: var(--line-color2);
      position: absolute;
      left: calc($pointer-width / 2);
      top: calc($pointer-margin);
      translate: -50% 0;
    }

    .timeline-li {
      display: flex;
      column-gap: 20px;
      @include text();

      &::before {
        content: "";
        height: $pointer-width;
        margin-top: $pointer-margin;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: var(--line-color2);
      }

      .timeline-date {
        width: 150px;

        strong {
          font-family: var(--font-semiBold);
          display: inline-block;
          margin-bottom: 2px;
        }
      }

      .content {
        .timeline-title {
          font-family: var(--font-semiBold);
          color: var(--title-color);
          margin-bottom: 5px;
        }
      }
    }
  }
}

.sector {
  padding: 20px 0;
  padding-right: 20px;
}

.title {
  font-family: var(--font-semiBold);
  color: var(--title-color);
  margin-bottom: 20px;
  font-size: 24px;
}

.break {
  border: none;
  height: $break-width;
  width: 100%;
  background: var(--line-color);
  position: relative;

  &::after {
    content: "";
    height: $break-point-size;
    aspect-ratio: 1/1;
    background: var(--line-color);
    position: absolute;
    border-radius: 50%;
    right: 0;
    top: 0;
    translate: calc(50% + calc($break-width / 2)) -50%;
  }

  &[break-left] {
    &::after {
      left: 0;
      translate: calc(-50% - calc($break-width / 2)) -50%;
    }
  }
}

.text-block {
  @include text();
}

.user-portfolio-scoped-style {
  padding: 5px 5px !important;

  .ant-select-item-option-content {
    display: grid;
    grid-template-columns: $skills-height auto;
    align-items: center;

    * {
      margin: 0;
      padding: 0;
    }

    .skill-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc($skills-height - 10px);
    }
  }

  .ant-select-item-option-state {
    display: flex;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
  }
}

/************************************************************/
.resume-editor {
  .resume-wrapper {
    display: flex;
    padding: 60px 0;

    @include media(1100px) {
      flex-direction: column;
    }

    /* ============== RESUME CONTENT ============== */
    .resume-content {
      border-right: 0.5px solid var(--line-color);

      @include media(1100px) {
        border: none;
        border-left: 0.5px solid var(--line-color);

        .sector {
          padding-left: 20px;
        }

        .break {
          display: flex;
          justify-content: center;

          &::after {
            left: 0;
            right: auto;
            transform: translate(calc(-100% - $break-width), $break-width);
          }
        }
      }

      .resume-sector-1 {
        @include flex(space-between, center);
        padding-right: 30px;
        padding-top: 10px;

        .left {
          .user-name {
            font-size: 35px;
            margin-bottom: 10px;
          }

          .user-date {
            @include text();
            margin-bottom: 5px;
          }
        }

        .right {
          display: flex;
          flex-direction: column;

          .resume-editor-link {
            border-radius: 50%;
            border: 0.5px solid var(--border-color);
            overflow: hidden;

            .user-image {
              height: 140px;
              aspect-ratio: 1/1;
              object-fit: cover;
            }
          }
        }

        .user-date-edit {
          display: flex;
          column-gap: 8px;
        }
      }

      .resume-sector-2 {
        ul {
          li {
            margin: 10px 0;
            .content {
              display: flex;
              align-items: center;
              column-gap: 12px;

              .contact {
                .contact-name {
                  text-transform: capitalize;
                  @include text();
                }

                .contact-link {
                  @include text();
                  @include link-style();
                  font-size: calc($text-size - 1px);

                  &:hover {
                    color: rgb(216, 0, 0);
                  }
                }
              }
            }
          }
        }
      }

      .resume-sector-3 {
        .content {
          display: flex;
          @include text();
        }
      }

      .resume-sector-4 {
        margin: 20px 0;

        .content {
          .user-position {
            font-size: 18px;
          }

          .user-salary {
            @include text();
            font-size: calc($text-size + 5px);
            margin-bottom: 10px;

            span {
              @include text();
              font-size: calc($text-size + 6px);
              font-family: var(--font-semiBold);
            }
          }

          .user-specialization {
            .title {
              @include text();
              margin-bottom: 5px;
            }

            .spec-list {
              margin-bottom: 15px;

              .spec-li {
                padding: 5px 0;
                padding-left: 25px;
                position: relative;
                @include text();

                &::before {
                  content: "";
                  position: absolute;
                  left: 7px;
                  width: 13px;
                  display: block;
                  height: 0.5px;
                  background: var(--text-color);
                  top: 50%;
                  transform: translate(0, -50%);
                }
              }
            }
          }

          .user-employment {
            @include text();
            margin-bottom: 10px;
          }

          .user-schedule {
            @include text();
            margin-bottom: 10px;
          }
        }
      }

      .resume-sector-5 {
        padding: 20px auto;

        $skills-gap: 8px;
        $skills-list-padding: 7px 0;
        $skills-icon-size: 40px;

        .content {
          @mixin skill-block {
            @include list-block-style();
            display: flex;
            align-items: center;
            padding: 0;
            column-gap: 2px;
            border-radius: 40px;
            padding: 0px 10px;
            overflow: hidden;
            height: $skills-height;

            .skill-name {
              line-height: 100%;
              margin-bottom: 0;
            }

            .skill-icon {
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: -2px;

              svg {
                height: 70%;
                aspect-ratio: 1/1;
                object-fit: contain;
                display: flex;
                justify-content: center;
              }
            }
          }

          .skill-icon {
            height: $skills-icon-size;
          }

          .user-skills {
            display: flex;
            flex-wrap: wrap;
            gap: $skills-gap;
            padding: $skills-list-padding;
            border: 0.5px solid transparent;
            border-right: none;
            border-left: none;
            margin: 0;

            .skill {
              @include skill-block();
            }
          }

          .skills-select {
            .ant-select-selector {
              padding: $skills-list-padding;
              border-radius: 0 !important;
              border-right: none;
              border-left: none;
              box-shadow: none;
              box-sizing: content-box;
            }

            .ant-select-selection-overflow {
              display: flex;
              gap: $skills-gap;

              * {
                margin: 0;
                padding: 0;
              }
            }

            .ant-select-selection-item {
              height: auto;
              background: transparent;
              border: none;
              padding: 0;

              .ant-select-selection-item-content {
                @include skill-block();
              }

              .ant-select-selection-item-remove {
                position: absolute;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                background: rgb(240, 75, 75);
                border-radius: 50%;
                height: 12px;
                aspect-ratio: 1/1;
                animation: x-appear 0.2s forwards;
                opacity: 0;

                @keyframes x-appear {
                  100% {
                    opacity: 1;
                  }
                }

                span {
                  height: 60%;
                  aspect-ratio: 1/1;

                  svg {
                    height: 100%;
                    width: 100%;
                    fill: white;
                  }
                }
              }

              .anticon-close {
                vertical-align: 0;
                line-height: 0;
              }
            }
          }
        }
      }

      .resume-sector-6 {
        padding: 20px auto;

        .user-aboutMe {
          @include text();
        }
      }

      .resume-sector-7 {
        padding: 20px auto;

        .user-portfolio-list {
          display: flex;
          flex-wrap: wrap;
          gap: 12px;

          .user-portfolio {
            height: 200px;
            aspect-ratio: 1/1;
            cursor: pointer;

            @include media(450px) {
              height: 150px;
            }

            @include media(350px) {
              height: 130px;
            }

            .content {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              position: relative;
              overflow: hidden;
              padding: 7px;

              .portfolio-image {
                height: 100%;
                width: 100%;
                object-fit: contain;
              }

              .portfolio-bg {
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                filter: blur(20px) saturate(2);
              }

              .portfolio-name {
                white-space: nowrap;
                width: 100%;
                @include text();
              }
            }
          }
        }

        .portfolio-dialog {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 30px;
          justify-content: center;
          align-items: center;
          background: gray;
          z-index: 1000;
          height: 100%;
          width: 100%;
          display: none;
          background: rgba(0, 0, 0, 0.388);

          @include media(550px) {
            padding: 80px;
          }

          &[open="true"] {
            display: flex;
            opacity: 0;
            visibility: collapse;
            animation: open-dialog 0.3s forwards;

            @keyframes open-dialog {
              100% {
                opacity: 1;
                visibility: visible;
              }
            }
          }

          .dialog-content {
            display: inline-flex;
            max-height: 70%;
            width: 100%;
            max-width: 1000px;
            background: white;
            border-radius: 15px;
            overflow: hidden;

            @include media(550px) {
              flex-direction: column;
              align-items: center;
              max-height: 100%;
              max-width: auto;
              width: auto;
              padding-left: 6px;
            }

            .dialog-show {
              overflow-y: scroll;
              width: 60%;
              border-right: 0.5px solid var(--border-color);

              @include media(550px) {
                width: 100%;
                max-height: 450px;
                height: 100%;
                border: none;
              }

              /* padding-left: 10px; */

              .portfolio-image {
                object-fit: contain;
                width: 100%;
              }
            }

            .dialog-description {
              padding: 20px;
              width: 40%;
              overflow-y: scroll;

              @include media(550px) {
                width: 100%;
                height: 100%;
                border-top: 0.5px solid var(--border-color);
              }

              .description {
                line-height: 160%;
              }
            }
          }

          .exit-button {
            position: absolute;
            top: 3vh;
            height: 40px;
            right: 3vh;
            cursor: pointer;
            @include rm-default();

            @include media(550px) {
              height: 35px;
            }

            svg {
              fill: var(--text-color);
            }
          }
        }
      }

      .resume-sector-8,
      .resume-sector-9 {
        .content {
          margin-bottom: 5px;
          @include timeline();
        }
      }

      .resume-sector-10 {
        .content {
          .user-languages {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;

            li {
              @include list-block-style();
              @include text();

              span {
                text-transform: capitalize;
              }
            }
          }
        }
      }

      .resume-sector-11 {
        padding: 20px 0;

        .user-certificate-list {
          display: flex;
          flex-wrap: wrap;
          gap: 12px;

          .user-certificate {
            height: 140px;
            cursor: pointer;

            .content {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              position: relative;
              overflow: hidden;

              .certificate-image {
                height: 100%;
                width: 100%;
                object-fit: contain;
              }

              .certificate-name {
                white-space: nowrap;
                width: 100%;
                @include text();
              }
            }
          }
        }
      }

      .resume-sector-12 {
        .content {
          @include timeline();

          .career-list {
            margin-top: 40px;
            display: flex;
            row-gap: 50px;
          }

          .career-year {
            font-family: var(--font-semiBold);
          }
        }
      }

      .resume-sector-13 {
        display: auto;
      }
    }

    /* ============== RESUME TOOLS ============== */

    .resume-tools {
      min-width: 300px;
      position: relative;
      $padding-left: 15px;
      padding-top: 5px;

      .tools-title {
        font-size: 18px;
      }

      .content {
        /* background: gray; */
        position: sticky;
        top: 25px;

        .header {
          padding-left: $padding-left;
          padding-bottom: 20px;

          .top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;

            .ant-select {
              height: 40px;
            }

            .top-btns {
              display: flex;
              border-radius: 8px;
              overflow: hidden;
              height: 40px;
              border: 0.5px solid var(--line-color);

              button {
                border: none;
                padding: 10px 12px;
                cursor: pointer;
                height: 100%;
                border-right: 0.5px solid var(--line-color);
                @include element-title();
              }
            }
          }

          .tools-visibility {
            .ant-select {
              width: 100%;

              * {
                font-family: var(--font-regular);
                line-height: 100%;
                overflow: visible;
              }

              .ant-select-selector {
                height: 100%;
                display: flex;
                align-items: center;
                border-radius: 8px;
                border-color: var(--border-color);
              }
            }
          }
        }

        .tools-resume-completion {
          padding-top: 20px;
          padding-left: $padding-left;

          $height: 110px;
          $stroke-width: 3px;
          $stroke-color: rgb(241, 143, 78);
          $background: rgb(220, 220, 220);

          .tools-diagram {
            height: $height;
            aspect-ratio: 1/1;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            /* overflow: hidden; */
            position: relative;

            .svg-chart,
            .svg-bg {
              height: calc(100% - $stroke-width * 2);
              width: calc(100% - $stroke-width * 2);
              position: absolute;
              overflow: visible;
              stroke-width: $stroke-width;
              stroke: $stroke-color;
              transform: rotate(-90deg) translate(50%, 50%);
              animation: draw 1s forwards cubic-bezier(0.66, 0.07, 0.29, 0.96);

              @keyframes draw {
                0% {
                  stroke-dasharray: 315%;
                  stroke-dashoffset: 315%;
                }
              }
            }

            .svg-bg {
              stroke: $background;
              stroke-dasharray: 0;
              stroke-dashoffset: 0;
              z-index: -1;
              animation: none;
            }

            .tools-percentage {
              position: absolute;
              padding: 0;
              margin: 0;
              opacity: 0;
              animation: percentage 1s forwards;
              animation-delay: 0.2s;

              @keyframes percentage {
                100% {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

.ck {
  .ck-toolbar_grouping {
    border: 0.5px solid var(--border-color) !important;
    border-radius: 40px !important;
    padding: 0 8px !important;

    .ck-toolbar__items {
      column-gap: 5px;

      .ck-button {
        cursor: pointer;
        margin: 0 !important;

        svg {
          color: var(--icon-color) !important;
        }
      }

      .ck-toolbar__separator {
        width: 0.5px !important;
        border: none !important;
      }
    }
  }

  .ck-insert-table-dropdown__grid {
    display: grid !important;
    grid-template-columns: repeat(10, 1fr);

    .ck-insert-table-dropdown-grid-box {
      aspect-ratio: 1/1 !important;
      border-radius: 0 !important;
      transition: 0.1s;

      &.ck-on {
        border-color: gray !important;
        background: rgb(190, 190, 190) !important;
      }
    }
  }

  .ck-content {
    border: none !important;
    border-bottom: 1px solid var(--border-color) !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0 !important;

    strong {
      font-weight: 700 !important;
    }

    &.ck-focused {
      border-color: rgb(0, 145, 255) !important;
    }
  }

  .ck-dropdown__panel {
    transition: 0.2s !important;
    border-radius: 5px !important;
    overflow: hidden;
    padding: 4px !important;
    border: none !important;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;

    .ck-button_with-text {
      border-radius: 5px !important;
      border: none !important;
      color: var(--text-color) !important;
      transition: 0.2s;

      &.ck-on {
        background: #e6f4ff !important;
        color: var(--text-color) !important;
        box-shadow: none !important;
      }
    }
  }

  .ck-list[aria-label="Heading"] {
    min-width: 100% !important;

    .ck-list__item {
      display: flex !important;
      flex-direction: column !important;
      align-items: stretch !important;
      min-width: auto !important;

      .ck-button_with-text {
        width: auto !important;
        padding: 3px 10px !important;
      }
    }
  }
}

.ant-select-item-option-content {
  display: flex;
  align-items: center;
}

.todo-editor {
  display: flex;
  column-gap: 3px;

  .editor-button {
    height: 24px;
    cursor: pointer;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--btn-bg);
    border-radius: 4px;
    background: transparent;

    &:hover {
      background: var(--btn-bg-hover);

      svg {
        fill: white !important;
        stroke: white !important;
      }
    }

    svg {
      stroke: var(--btn-bg);
    }
  }
}
