@import url(./fonts/fonts.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #424242;
}

:root {
  --paragraph-size: 14px;
  --navigation-link-size: 16px;
  --input-rounded: 5px;
  --element-background: rgb(235, 235, 235);
  --link-color: #3c9df2;
  --link-color-hover: #307cbe;
  --title-color: rgb(71, 77, 71);
  --text-color: rgb(53, 71, 56);
  --icon-color: rgb(53, 71, 56);
  --line-color: rgb(217, 217, 217);
  --line-color2: rgb(100, 100, 100);
  --border-color: rgb(166, 166, 166);
  --btn-bg: rgb(39, 39, 39);
  --btn-bg-hover: rgb(75, 75, 75);
  --modal-bg: rgba(0, 0, 0, 0.129);
  --btn-bg-transition: 0.2s;
  --text-size: 15px;
  --font-light: "NotoSans-Light";
  --font-light-italic: "NotoSans-Light-Italic";
  --font-regular: "NotoSans-Regular";
  --font-regular-italic: "NotoSans-Regular-Italic";
  --font-medium: "NotoSans-Medium";
  --font-medium-italic: "NotoSans-Medium-Italic";
  --font-semiBold: "NotoSans-SemiBold";
  --font-semiBold-italic: "NotoSans-SemiBold-Italic";
  --font-bold: "NotoSans-Bold";
  --font-bold-italic: "NotoSans-Bold-Italic";
}

@mixin text() {
  font-size: 15px;
  font-family: var(--font-regular);
  font-weight: normal;
  color: var(--title-color);
  line-height: 150%;
}

@mixin flex($justify, $align: flex-start, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin media($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin rm-default() {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;

  * {
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
  }
}

@mixin input-style($padding: 5px, $border: none, $background: rgb(216, 216, 216), $radius: 5px) {
  padding: $padding;
  border: $border;
  background: $background;
  border-radius: $radius;
}

@mixin link-style {
  @include rm-default();
  color: var(--link-color);
  cursor: pointer;
  font-size: 14px;
  line-height: 100%;

  &:hover {
    color: var(--link-color-hover);
    border-color: var(--link-color-hover);
  }
}

@mixin custom-btn() {
  background: var(--btn-bg);
  border: 1px solid var(--btn-bg);
  color: white;
  border-radius: 40px;
  line-height: 100%;
  font-size: 14px;
  padding: 10px 15px;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;
  font-family: var(--font-regular);

  *[icon] {
    height: 12px;
    fill: white;
    stroke: white;
    display: flex;
    align-items: center;
  }

  &[size="small"] {
    padding: 5px 12px;
    * {
      font-size: 12px;
    }
    *[icon] {
      height: 10px;
    }
  }

  * {
    color: white;
    margin: 0;
    padding: 0;
  }

  &:hover {
    background: var(--btn-bg-hover);
  }

  &[white] {
    color: var(--btn-bg);
    background: transparent;

    &:hover {
      background: var(--btn-bg);
      color: white;
    }
  }
}

@mixin element-title {
  position: relative;

  $background: rgb(52, 52, 52);
  $top: -45px;
  $translate: 5px;
  $transition: 0.3s;

  &:hover {
    &::after,
    &::before {
      visibility: visible;
      opacity: 1;
      transition: $transition;
      transform: translateY(0);
    }

    &::before {
      transform: translateY(0) rotate(45deg);
    }
  }

  &[data-title-top] {
    &::after {
      top: $top;
    }
  }

  &[data-title-bottom] {
    &::after {
      bottom: -50px;
    }
  }

  &::after {
    content: attr(data-title);
    position: absolute;
    left: 50%;
    translate: -50% 0;
    z-index: 2;
    color: white;
    font-family: var(--font-regular);
    font-size: 14px;
    background: $background;
    line-height: 100%;
    padding: 10px;
    border-radius: 7px;
    transform: translateY($translate);
    opacity: 0;
    visibility: collapse;
  }

  &::before {
    content: "";
    position: absolute;
    height: 8px;
    aspect-ratio: 1/1;
    background: $background;
    top: calc($top / 2 + 2px);
    translate: -50% 50%;
    left: 50%;
    transform: translateY($translate) rotate(45deg);
    opacity: 0;
    visibility: collapse;
  }

  &:last-child {
    border: none;
  }
}

/****************************************/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @include text();

  strong {
    font-family: var(--font-bold);
  }

  i {
    font-family: var(--font-regular-italic);

    strong {
      font-family: var(--font-bold-italic);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bold);

  i {
    font-family: var(--font-bold-italic);
  }
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

/**************************************************************************/

.ant-select {
  * {
    font-family: var(--font-regular) !important;
    line-height: 100% !important;
    overflow: visible !important;
  }

  .ant-select-selector {
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    border-radius: 8px !important;
    border-color: var(--border-color) !important;
  }

  .ant-select-arrow {
    svg {
      fill: var(--border-color) !important;
    }
  }
}

.ant-picker {
  border: 0.5px solid var(--border-color);

  svg {
    fill: var(--border-color);
  }
}

.custom-btn {
  @include custom-btn();
}
